@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Errors.Count > 0)
{
    <div>
        Tak for de fine data, du har sendt til mig, men...
        <ul>
            @foreach (var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
} else {
<div>
    <blockquote>
        @Model.Quote
        <cite>-&nbsp;Husalfen Smarty</cite>
    </blockquote>
</div>

}
